{% extends 'base.html' %}

{% load static %}

{% block title %} Mahsulotlar {% endblock %}

{% block content %}
<style>
    .zoom-in {
    transition: transform 0.3s ease;
}

.zoom-in:hover {
    transform: scale(1.1);
}
</style>
<div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 m-tb-6">
            <a href="{% url 'index' %}" class="breadcrumb-item f1-s-3 cl9">
                Bosh sahifa
            </a>

            <span class="breadcrumb-item f1-s-3 cl9">
                Mahsulotlar
            </span>
        </div>
    </div>
</div>

<div class="container p-t-4 p-b-35">
    <h2 class="f1-l-1 cl2">
        Mahsulotlar Bo'limi
    </h2>
</div>

<section class="bg0 p-b-60">
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-md-3">
                <select id="categoryFilter" class="form-control" onchange="filterProducts()">
                    <option value="">Barchasi</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category_id == category.id|stringformat:"i" %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select id="priceFilter" class="form-control" onchange="filterProducts()">
                    <option value="">Narxi</option>
                    <option value="low" {% if price_order == 'low' %}selected{% endif %}>Arzon</option>
                    <option value="high" {% if price_order == 'high' %}selected{% endif %}>Qimmat</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="popularityFilter" class="form-control" onchange="filterProducts()">
                    <option value="">Eng zo'rlari</option>
                    <option value="popular" {% if popularity_order == 'popular' %}selected{% endif %}>Eng zo'rlari</option>
                </select>
            </div>
            <div class="col-md-3">
                <select id="dateFilter" class="form-control" onchange="filterProducts()">
                    <option value="">Barcha sanalar</option>
                    <option value="new" {% if date_order == 'new' %}selected{% endif %}>Yangi</option>
                    <option value="old" {% if date_order == 'old' %}selected{% endif %}>Eski</option>
                </select>
            </div>
        </div>

        <div class="row" id="productContainer">
            {% for product in product_page %}
                <div class="col-md-4 mb-4 product-card">
                    <div class="card shadow-sm">
                        <div id="carouselExample{{ product.id }}" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="w-100 zoom-in" height="200" style="object-fit:cover;" alt="{{ product.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                            {% if product.images.count > 1 %}
                                <a class="carousel-control-prev" href="#carouselExample{{ product.id }}" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Orqaga</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExample{{ product.id }}" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Oldinga</span>
                                </a>
                            {% endif %}
                        </div>

                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 p-b-40">
                                {{ product.name }}
                            </a>

                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Отображение звездного рейтинга -->
                                <div class="rating">
                                    {% with product.average_rating as avg_rating %}
                                    {% for i in "12345" %}
                                    {% if i|add:"-1" < avg_rating %}
                                    <span class="text-warning">&#9733;</span>
                                    {% else %}
                                    <span class="text-muted">&#9734;</span>
                                    {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                </div>

                                <div>
                                <p class="card-text text-muted">Narxi: {{ product.price }} so'm</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                        <span class="f1-s-3">{{ product.published_date|date:"Y-m-d" }}</span>
                                </div>
                                <div>
                                <span class="text-muted">
                                    <i class="fas fa-eye"></i>
                                    {% if product.total_views %}
                                        {{ product.total_views }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                                        <span class="ml-2 text-muted">
                                    <i class="fas fa-comments"></i>
                                    {% if product.total_comments %}
                                        {{ product.total_comments }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </span>
                                    </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal">
                                    View Details
                                </button>
                                <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">{{ product.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                <p>{{ product.description|safe }}</p>
                <p><strong>Price:</strong> {{ product.pirce }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
                            </div>


</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
            <div class="flex-wr-c-c m-rl--7 p-t-15">
                {% if product_page.has_previous %}
                <a href="?page={{ product_page.previous_page_number }}"
                   class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">
                    «
                </a>
                {% endif %}

                {% for num in product_page.paginator.page_range %}
                <a href="?page={{ num }}"
                   class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 {% if num == product_page.number %}pagi-active{% endif %}">
                    {{ num }}
                </a>
                {% endfor %}

                {% if product_page.has_next %}
                <a href="?page={{ product_page.next_page_number }}"
                   class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">
                    »
                </a>
                {% endif %}
            </div>
        </nav>

    </div>
</section>

<script>
    function filterProducts() {
        const category = document.getElementById('categoryFilter').value;
        const price = document.getElementById('priceFilter').value;
        const popularity = document.getElementById('popularityFilter').value;
        const date = document.getElementById('dateFilter').value;

        let url = "?";
        if (category) url += "category=" + category + "&";
        if (price) url += "price=" + price + "&";
        if (popularity) url += "popularity=" + popularity + "&";
        if (date) url += "date=" + date + "&";

        // Remove the last "&" if present
        if (url.endsWith("&")) url = url.slice(0, -1);

        window.location.href = url;
    }
</script>
{% endblock %}